body{
  background: #Dcf5ff;
  margin: 0;
  height: 100vh;
  display: grid;
  align-items: center;
  font-family: sans-serif;
}

.inner0{
  background: rgb(7,218,165);
  padding: 1em;
  border-radius: 10px;
  width: 250px;
  clip-path: circle(10% at 0% 25%);
  -webkit-clip-path: circle(10% at 0% 25%);
  transition: all .5s ease-in-out;
  cursor: pointer;
}
 .inner0 h1{
  color: #fff;
  text-align: center;
  margin: 0;
}

 .inner0 p{
  color: #fff;
  font-size: 0.8rem;
}
span.arrow{
  float: left;
  font-weight: bold;
  transition: color .5s;
  position: relative;
  margin-left: -10px;
  margin-top: 4px;
}
 .inner0:hover {
   background: #00b6;
  clip-path: circle(75%);
  -webkit-clip-path: circle(75%);
  color: transparent;
}
